body {
  background-color: black; 
}

#wrapper {
  margin: 5em 10em; 
  padding: 3em; 
  background:plum; 
  height: 100%; 
}

#inner {
  height: 100%; 
  text-align: center;
}

#startStop{
  border: 1px solid grey; 
  margin: 0 0 0 0; 
}

button {
  font-size: 20px; 
  padding: 1em; 
  margin: .3em; 
}

#stateStringify {
  text-align: center; 
}